@model IEnumerable<AssetManagement.Models.MainBoard>

@{
    ViewData["Title"] = "Main board Inactive";
}


<div class="mx-4">
    <div class="mb-2">
        <a class="btn btn-secondary" asp-controller="Mainboards" asp-action="Index">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Lists</span>
        </a>
    </div>

    <h4 class="title">Inactive Main Board</h4>

    <hr />

    <div class="mt-4">
        <div class="card shadow-sm card-selected">
            <div class="card-body">
                <div class="table-container table-responsive">
                    <table class="table table-striped table-datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BoardDescription)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BoardStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BoardCreatedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BoardCreatedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BoardUpdatedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BoardUpdatedDate)
                                </th>
                                <th class="text-center">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BoardDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BoardStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BoardCreatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BoardCreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BoardUpdatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BoardUpdatedDate)
                                    </td>
                                    <td class="d-flex justify-content-center">
                                        <a class="btn btn-sm btn-success btn-activate" asp-action="Activate" asp-route-id="@item.BoardID" data-id="@item.BoardID">
                                            <span class="fas fa-undo"></span> Retrieve
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

