@model IEnumerable<AssetManagement.Models.Memory>

@{
    Layout = null;
}
<style>
    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
    }
</style>
<input type="text" id="filterInput" placeholder="Search...">

<div class="table-responsive scrollable-container" style="cursor:pointer;">
    <table class="table custom-fontsize p-4">
        <thead class="sticky-top" style="z-index:1; position:relative">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MemoryDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemoryCapacity)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.MemoryStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemoryCreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemoryCreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemoryUpdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemoryUpdatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.MemoryId" data-md="@item.MemoryDescription">
                    <td>
                        @Html.DisplayFor(modelItem => item.MemoryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity.CapacityDescription)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.MemoryStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemoryCreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemoryCreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemoryUpdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemoryUpdatedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {


        // Add click event listener to each row in the table
        $('table tbody tr').click(function () {
            // Get the id from the clicked row's data-id attribute
            var id = $(this).data('id');
            var md = $(this).data('md');


            // Remove the 'highlighted-row' class from any other row
            $("tr.highlighted-row").removeClass("highlighted-row");

            // Add the 'highlighted-row' class to the clicked row
            $(this).closest("tr").addClass("highlighted-row");
            $('#mid').val(id);
            $('#mdes').val(md);


        });

    });

    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
