@model IEnumerable<AssetManagement.Models.Module>

@{
    ViewData["Title"] = "Index";
}
<style>

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
        height: 100vh;
    }

</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<h1>Deleted Items</h1>

<p>
    <a class="btn btn-sm bg-secondary h5 text-white text-decoration-none p-2 btn createbtn" asp-action="Index">Back</a>
</p>

<form method="post" action="@Url.Action("Retrieve", "Modules")">
    <div class="table-container">
        <table class="table custom-fontsize p-4">
            <thead >
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModuleTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModuleDtCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModuleDtUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th>
                        <input type="checkbox" id="select-all-checkbox" class="green-checkbox" />
                        <button type="submit" class="btn btn-sm"> <i class="bi bi-recycle"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.category_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleDtCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleDtUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.status_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy.UserCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy.UserCode)
                        </td>
                        <td>
                            <input type="checkbox" name="selectedIds" id="select-all-checkbox" class="green-checkbox" value="@item.ModuleId" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<script>
    const selectAllCheckbox = document.getElementById("select-all-checkbox");
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name="selectedIds"]');

    selectAllCheckbox.addEventListener("change", function () {
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    });


</script>
