@model IEnumerable<AssetManagement.Models.Brand>

@{
    ViewData["Title"] = "Inactive";
}

<div class="mx-4">
    <h4>Inactive Brands</h4>
    <a class="btn btn-outline-secondary mb-3" asp-action="Index">Back to List</a>

    <div class="createform"></div>


    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-datatable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandCreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandCreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandUpdatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandUpdatedDate)
                            </th>
                            <th style="text-align: center!important;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandCreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandCreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandUpdatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandUpdatedDate)
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a class="btn btn-success btn-activate" asp-action="Activate" asp-route-id="@item.BrandId" data-id="@item.BrandId">Activate</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('.btn-activate').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("Activate")',
                type: 'POST',
                data: { id: id },
                success: function () {
                    location.reload();
                },
                error: function () {
                    console.log('Error occurred while activating the module.');
                }
            });
        });
    });
</script>
