@model IEnumerable<AssetManagement.Models.UpsType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_createddt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_updatedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_updateddt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_createdby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_createddt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_updatedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_updateddt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.type_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.type_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.type_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
