@model IEnumerable<AssetManagement.Models.LaptopBorrowed>

@{
    ViewData["Title"] = "Index";
}

<div class="mx-4">
    <h4>Return Borrowed Laptop</h4>
    @if (TempData["Welcome"] != null)
    {
        <div class="toast-notification animated-toast">
            <p>@TempData["Welcome"]</p>
        </div>
    }

    <div class="mb-2">
        <a class="btn btn-sm btn-secondary text-white" asp-action="Index">Back to Lists</a>
    </div>

    <hr />

    <div class="table-responsive">
        <table class="table ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LaptopInventory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateBorrow)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner)
                    </th>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.Status)
                        </t>
                    <th>
                            @Html.DisplayNameFor(model => model.UserCreated)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.UserUpdated)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaptopInventory.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateBorrow)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                        </td>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.Status.status_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserCreated.UserFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserUpdated.UserFullName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


        $(".btn-delt").click(function () {
            $(this).closest("form").submit();
        })


    });


</script>
