@model IEnumerable<AssetManagement.Models.DesktopAllocation>

@{
    ViewData["Title"] = "Index";
}

<div class="mx-4">


    <div class="allocation-details">
        <h4 class="allocation-title">First Owners Desktop Allocation</h4>
    </div>
    <div class="mb-3">
        <a class="btn btn-outline-secondary createbtn" asp-action="Index" asp-controller="DesktopNewAllocs">Back to List</a>
    </div>
    <table class="table custom-fontsize p-4 ">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DesktopInventory)
                </th>
                <th>PO</th>
                <th>
                    @Html.DisplayNameFor(model => model.DesktopInventoryDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FixedassetTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComputerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDeployed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createdby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updatedby)
                </th>
                <th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopInventory.desktopInvCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopInventoryDetail.PO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopInventoryDetail.unitTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixedassetTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDeployed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    @{



                        if (item.DesktopInventoryDetail.PurchaseDate <= DateTime.Now.AddMonths(-72))
                        {
                            <td style="color:red; font-weight:bold; font-size:12px;">
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                        }
                        else if (item.DesktopInventoryDetail.PurchaseDate <= DateTime.Now.AddMonths(-24))
                        {
                            <td style="color:darkgreen; font-weight:bold; font-size:12px;">
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                        }
                        else if (item.DesktopInventoryDetail.PurchaseDate <= DateTime.Now.AddMonths(-48))
                        {
                            <td style="color:orange; font-weight:bold; font-size:12px;">
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                        }
                    }



                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                    </td>
                    <td>
                        <a class="btn btn-sm bg-secondary  text-white custom-fontsize editbtn" asp-action="Create" asp-controller="DesktopNewAllocs" asp-route-id="@item.AllocId" asp-route-ids="@item.DesktopCode" asp-route-ids2="@item.UnitTag">Second Owner</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="displaytable"> </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).on("click", "#userCode", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("InventorySecOwnerDetails", "DesktopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode2", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("seeDetails", "DesktopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode3", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("ReturnDetails", "DesktopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });

    });
</script>



