@model AssetManagement.Models.DesktopAllocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DesktopAllocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixedassetTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixedassetTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComputerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComputerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeployed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeployed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryDetails.unitTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryDetails.DesktopInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryDetails.desktopInvCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdby.UserCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updatedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updatedby.UserCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AllocId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
