@model IEnumerable<AssetManagement.Models.DesktopBorrowed>
@{
    Layout = null;
}


<h4>Borrowed Desktop</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                DESCRIPTION
            </th>
            <th>
                CODE
            </th>
            <th>
                UNIT TAG
            </th>
            <th>
                COMPUTER NAME
            </th>
            <th>
                DEPARTMENT
            </th>
            <th>
                BORROWER
            </th>
            <th>
                DATE OF BORROWED
            </th>
            <th>
                EXPECTED RETURN DATE
            </th>
            <th>
                RETURN DATE
            </th>
            <th>
                REMARK
            </th>
            <th>
                CREATED AT
            </th>
            <th>
                CREATED BY
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.DesktopInventory.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.DesktopInventory.desktopInvCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.unitTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.ComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Dept_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                    </td>
                    <td>
                        @item.DateBorrow.ToString("MMM dd yyyy h:mm tt")
                    </td>
                    <td>
                        @item.Expected_return?.ToString("MMM dd yyyy h:mm tt")
                    </td>
                    <td>
                        @item.Return_date?.ToString("MMM dd yyyy h:mm tt")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    <td>
                        @item.DateCreated.ToString("MMM dd yyyy h:mm tt")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCreated.UserFullName)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>

