@model IEnumerable<AssetManagement.Models.DesktopAllocation>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h4>Details History</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>PO</th>
            <th>
                @Html.DisplayNameFor(model => model.FixedassetTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeployed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                DESKTOP CODE
            </th>
            <th>
                CREATED BY
            </th>
            <th>
                UPDATED BY
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.PO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.unitTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixedassetTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDeployed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.status_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.desktopInvCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>
