@model IEnumerable<AssetManagement.Models.DesktopInventoryDetail>

@{
    Layout = null;
}


<hr />
<div class="mx-5">

    <!-- Action Buttons -->
    <div class="d-flex align-items-center justify-content-between my-4">
        <h4>Unit Tag Exist</h4>

        <div class="d-flex align-items-center gap-2">
            <input type="text" id="filterInput" placeholder="Search..." class="form-control" style="width: 350px;">
        </div>
    </div>

    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive" style="cursor: pointer;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                DESCRIPTION
                            </th>
                            <th>
                                DESKTOP CODE
                            </th>
                            <th>
                                UNIT TAG
                            </th>
                            <th>
                                COMPUTER NAME
                            </th>
                            <th hidden>
                                PO
                            </th>
                            <th>
                                UNIT PRICE
                            </th>
                            <th>
                                VENDOR
                            </th>
                            <th>
                                PURCHASE DATE
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DesktopInventory.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.desktopInvCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.unitTag)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ComputerName)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.PO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12" class="text-center">
                                    No data available.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
</script>