@model IEnumerable<AssetManagement.Models.DesktopNewAlloc>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h4>Second Owner Desktop Allocation</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                INVENTORY DETAILS
            </th>
            <th>
                DESKTOP ALLOCATION
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesktopInventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedby)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.unitTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.AllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.status_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopInventory.desktopInvCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>

