@model IEnumerable<AssetManagement.Models.DesktopNewAlloc>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h4>Second Owner Desktop Allocation</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                DESCRIPTION
            </th>
            <th>CODE</th>
            <th>
                UNIT TAG
            </th>
            <th>
                ASSET TAG
            </th>
            <th>
                COMPUTER NAME
            </th>
            <th>PO</th>
            <th>
                OWNER
            </th>
            <th>
                DATE DEPLOYED
            </th>
            <th>
                STATUS
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                CREATED BY
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.DesktopInventory.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.desktopInvCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.unitTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.FixedassetTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.ComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetails.PO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.DateDeployed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.status_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>

