@model IEnumerable<AssetManagement.Models.ReturnDTA>

@{
    Layout = null;
}


<h4>Return Desktop</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.ReturnID)
            </th>
            <th>
                ID
            </th>
            <th>
                OWNER
            </th>
            <th>
                COMPUTER NAME
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesktopAllocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.AllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.OwnerCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.ComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.AllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.status_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCreated.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserUpdated.UserCode)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>
