@model IEnumerable<AssetManagement.Models.ReturnDTA>

@{
    Layout = null;
}


<h4>Return Desktop</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                DESCRIPTION
            </th>
            <th>
                CODE
            </th>
            <th>
                SERIAL
            </th>
            <th>
                ASSET TAG
            </th>
            <th>
                RETURNER NAME
            </th>
            <th>
                DATE DEPLOYED
            </th>
            <th>
                RETURN TYPE
            </th>
            <th>
                CREATED AT
            </th>
            <th>
                CREATED BY
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.InventoryDetails.DesktopInventory.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.InventoryDetails.desktopInvCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.InventoryDetails.unitTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.FixedassetTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.Owner.OwnerFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesktopAllocation.InventoryDetails.DeployedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnType.Description)
                    </td>
                    <td>
                        @item.DateCreated.ToString("MMM dd yyyy h:mm tt")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCreated.UserCode)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>
