@model IEnumerable<AssetManagement.Models.Store>

@{
    ViewData["Title"] = "Inactive";
}


<div class="mx-4">
    <div class="mb-4">
        <a class="btn btn-sm btn-secondary" asp-controller="Stores" asp-action="Index">Back to List</a>
    </div>

    <hr />

    <h4>Inactive Department</h4>
    <div class="mt-4">
        <div class="card shadow-sm card-selected">
            <div class="card-body">
                <div class="table-container table-responsive">
                    <table class="table table-striped table-datatable">
                        <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Store_code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StoreName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SCreatedby)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StoreStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SUpdateby)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateUpdated)
                        </th>
                                <th class="text-center">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Store_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SCreatedby)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SUpdateby)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                            </td>
                            <td class="d-flex flex-row gap-2">
                                <a class="btn btn-sm btn-outline-success" asp-controller="Stores" asp-action="Activate" asp-route-id="@item.Store_code" data-id="@item.Store_code">
                                    <span class="fas fa-undo"></span> Retrieve
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
</div>
