@model AssetManagement.Models.LaptopPeripheral

@{
    ViewData["Title"] = "Create";
}


@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="m-4">
    <h4>Laptop Peripheral</h4>
    <hr />

    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="PeripheralCode" class="control-label"></label>
                    <input asp-for="PeripheralCode" class="form-control" />
                    <span asp-validation-for="PeripheralCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PeripheralDescription" class="control-label"></label>
                    <input asp-for="PeripheralDescription" class="form-control" required placeholder="Enter Description" />
                    <span asp-validation-for="PeripheralDescription" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" id="brandtable">
                    <label asp-for="PeripheralBrand" class="control-label"></label>
                    <input asp-for="PeripheralBrand" class="form-control" id="brandid" hidden required />
                    <input class="form-select" id="branddes" readonly placeholder="Select Brand" required />
                </div>
                <div class="form-group col-md-3 mb-3" id="devtable">
                    <label asp-for="PeripheralDevice" class="control-label"></label>
                    <input asp-for="PeripheralDevice" class="form-control" id="devid" hidden />
                    <input class="form-select" id="devdes" readonly placeholder="Select Devices" required />
                </div>
                <div class="form-group col-md-3 mb-3" id="vendortable">
                    <label asp-for="PeripheralVendor" class="control-label"></label>
                    <input asp-for="PeripheralVendor" class="form-control" id="vid" hidden />
                    <input class="form-select" id="vname" readonly placeholder="Select Vendor" required />
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PeripheralQty" class="control-label"></label>
                    <input asp-for="PeripheralQty" class="form-control" value="0" required placeholder="Enter Quantity" />
                    <span asp-validation-for="PeripheralQty" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="PeripheralAllocation" class="control-label"></label>
                    <input asp-for="PeripheralAllocation" class="form-control" required />
                    <span asp-validation-for="PeripheralAllocation" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 mb-3 d-flex align-items-center gap-2" style="margin-top: 23px;">
                    <input type="submit" value="Create" class="btn btn-red" />
                    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="LaptopPeripherals">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="displaytable"></div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //Brand
    $(document).ready(function () {

        $("#brandtable").click(function () {
            $.ajax({
                url: "@Url.Action("BrandPartialView", "Brands")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //Vendor
        $("#vendortable").click(function () {
            $.ajax({
                url: "@Url.Action("VendorsPartialView", "Vendors")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
        //Device
        $("#devtable").click(function () {
            $.ajax({
                url: "@Url.Action("DevicePartialView", "DeviceTypes")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })


        // Function to hide the display table
        function hideTable() {
            $(".displaytable").empty();
        }

        $(document).click(function (event) {
            if (!$(event.target).closest('#brandtable, #devtable, #vendortable, .displaytable').length) {
                hideTable();
            }
        });

        // Optional: Allow hiding the table if 'Esc' key is pressed
        $(document).keyup(function (e) {
            if (e.key === "Escape") {
                hideTable();
            }
        });

    })

</script>

