@model AssetManagement.Models.LaptopPeripheral

@{
    ViewData["Title"] = "Edit";
}


@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="m-4">
    <h4>Laptop Peripheral</h4>
    @if (TempData["Welcome"] != null)
    {
        <p>@TempData["Welcome"]</p>
    }
    <hr />
    <div class="mb-3">
        <table class="table" style="pointer-events: none;">
            <tr>
                <td hidden>
                    <label class="control-label"></label>
                    @Model.PeripheralCode
                </td>
                <td>
                    <label class="control-label"><b>Description :</b></label>
                    @Model.PeripheralDescription
                </td>
                <td>
                    <label class="control-label"><b>Peripheral Brand :</b></label>
                    @Model.Brand.BrandDescription
                </td>
                <td>
                    <label class="control-label"><b>Peripheral Device :</b></label>
                    @Model.DeviceType.DevtypeDescription
                </td>
                <td>
                    <label class="control-label"><b>Peripheral Vendor :</b></label>
                    @Model.Vendor.VendorName
                </td>
            </tr>
        </table>
    </div>

    <hr />

    <div class="mt-5">
        <form asp-action="Edit">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="PeripheralCode" class="control-label"></label>
                    <input asp-for="PeripheralCode" class="form-control" />
                    <span asp-validation-for="PeripheralCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PeripheralDescription" class="control-label"></label>
                    <input asp-for="PeripheralDescription" class="form-control" />
                    <span asp-validation-for="PeripheralDescription" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" id="brandtable">
                    <label asp-for="PeripheralBrand" class="control-label"></label>
                    <input asp-for="PeripheralBrand" class="form-control" id="brandid" hidden />
                    <input class="form-select" id="branddes" value=" @Model.Brand.BrandDescription" required />
                    <span asp-validation-for="PeripheralBrand" class="text-danger"></span>

                </div>
                <div class="form-group col-md-3 mb-3" id="devtable">
                    <label asp-for="PeripheralDevice" class="control-label"></label>
                    <input asp-for="PeripheralDevice" class="form-control" id="devid" hidden />
                    <input class="form-select" id="devdes" value=" @Model.DeviceType.DevtypeDescription" required />
                    <span asp-validation-for="PeripheralDevice" class="text-danger"></span>

                </div>
                <div class="form-group col-md-3 mb-3" id="vendortable">
                    <label asp-for="PeripheralVendor" class="control-label"></label>
                    <input asp-for="PeripheralVendor" class="form-control" id="vid" hidden />
                    <input class="form-select" id="vname" value=" @Model.Vendor.VendorName" required />
                    <span asp-validation-for="PeripheralVendor" class="text-danger"></span>

                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="PeripheralQty" class="control-label"></label>
                    <input asp-for="PeripheralQty" class="form-control" />
                    <span asp-validation-for="PeripheralQty" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="PeripheralAllocation" class="control-label"></label>
                    <input asp-for="PeripheralAllocation" class="form-control" />
                    <span asp-validation-for="PeripheralAllocation" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="PeripheralCreatedBy" class="control-label"></label>
                    <input asp-for="PeripheralCreatedBy" class="form-control" />
                    <span asp-validation-for="PeripheralCreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3" hidden>
                    <label asp-for="PeripheralCreatedAt" class="control-label"></label>
                    <input asp-for="PeripheralCreatedAt" class="form-control" />
                    <span asp-validation-for="PeripheralCreatedAt" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-2 mt-4 d-flex align-items-center gap-2">
                    <input type="submit" value="Save" class="btn btn-red" />
                    <a class="btn btn-outline-secondary " asp-action="Index">Back to List</a>
                </div>

            </div>
        </form>
    </div>
    <div class="displaytable"></div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //Brand
    $(document).ready(function () {

        $("#brandtable").click(function () {
            $.ajax({
                url: "@Url.Action("BrandPartialView", "Brands")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //Vendor
        $("#vendortable").click(function () {
            $.ajax({
                url: "@Url.Action("VendorsPartialView", "Vendors")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
        //Device
        $("#devtable").click(function () {
            $.ajax({
                url: "@Url.Action("DevicePartialView", "DeviceTypes")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })


        // Function to hide the display table
        function hideTable() {
            $(".displaytable").empty();
        }

        $(document).click(function (event) {
            if (!$(event.target).closest('#brandtable, #devtable, #vendortable, .displaytable').length) {
                hideTable();
            }
        });

        // Optional: Allow hiding the table if 'Esc' key is pressed
        $(document).keyup(function (e) {
            if (e.key === "Escape") {
                hideTable();
            }
        });
    })

</script>
