@model IEnumerable<AssetManagement.Models.LaptopPeripheral>

@{
    ViewData["Title"] = "Laptop Peripherals";
}

<div class="m-4 px-1">
    <h4>Laptop Peripherals</h4>
    @if (TempData["Welcome"] != null)
    {
        <p>@TempData["Welcome"]</p>
    }
</div>

@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex align-items-center justify-content-between">
    <!-- Action Buttons -->
    <div class="d-flex align-items-center gap-2 mb-2 p-4">
        <div class="d-flex align-items-center gap-2">
            <a class="btn btn-outline-red" asp-controller="LaptopPeripherals" asp-action="Create">
                <i class="fas fa-pencil-alt"></i>
                <span>Create New</span>
            </a>
            <a class="btn btn-outline-secondary" asp-controller="LaptopPeripherals" asp-action="Inactive">
                <span class="fas fa-trash-alt"></span> Show Temporary Deleted
            </a>
        </div>
    </div>
    <!-- Total -->
    <div class="report-view d-flex flex-column justify-content-end">
        <div class="report-item">
            <span class="report-label">Total Peripherals:</span>
            <span class="report-value">
                @if (ViewBag.TotalPeripherals != null)
                {
                    <text>@ViewBag.TotalPeripherals</text>
                }
                else
                {
                    <text>0</text>
                }
            </span>
        </div>
        <div class="report-item">
            <span class="report-label">Total <span class="text-success">Available</span> Peripherals:</span>
            <span class="report-value">
                @if (ViewBag.TotalAvailablePer != null)
                {
                    <text>@ViewBag.TotalAvailablePer</text>
                }
                else
                {
                    <text>0</text>
                }
            </span>
        </div>
        <div class="report-item">
            <span class="report-label">Total <span class="text-danger">Not Available</span> Peripherals:</span>
            <span class="report-value">
                @if (ViewBag.TotalAllocatedPer != null)
                {
                    <text>@ViewBag.TotalAllocatedPer</text>
                }
                else
                {
                    <text>0</text>
                }
            </span>
        </div>
    </div>
</div>

<hr />

<div class=" m-4">
    <div class="mb-3">
        <button type="button" class="multi-delete-button btn btn-sm btn-danger disabled" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <span class="fas fa-ban"></span> Temporary Delete
        </button>
    </div>

    <form method="post" action="@Url.Action("DeleteAsEdit", "LaptopPeripherals")">
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the selected item(s)?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="periInvtyTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex flex-column gap-1">
                                <label for="select-all-checkbox" style="cursor:pointer;">ALL</label>
                                <input type="checkbox" id="select-all-checkbox" class="custom-checkbox" />
                            </div>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PeripheralCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PeripheralDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PeripheralQty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PeripheralAllocation)
                        </th>
                        <th>AVAILABLE</th>
                      
                        <th>
                            @Html.DisplayNameFor(model => model.Brand)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeviceType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vendor)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PeripheralCreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PeripheralUpdatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" name="selectedIds" value="@item.PeripheralCode" class="item-checkbox custom-checkbox" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeripheralCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeripheralDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeripheralQty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeripheralAllocation)
                            </td>
                            <td class="available-column">
                                Available
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand.BrandDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeviceType.DevtypeDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.Status.status_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeripheralCreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeripheralUpdatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy.UserFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedBy.UserFullName)
                            </td>                
                            <td>
                                <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@item.PeripheralCode">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="InventoryDetails" asp-controller="LaptopPeripherals" asp-route-id="@item.PeripheralCode" asp-route-ids="@item.PeripheralDescription">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>


@if (TempData["SuccessNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success',
                text: '@TempData["SuccessNotification"]',
                icon: 'success',
                timer: 3000, // Automatically close the notification after 3 seconds
                showConfirmButton: false
            });
        });
    </script>
}

@if (TempData["ErrorNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Error',
                text: '@TempData["ErrorNotification"]',
                icon: 'error',
                timer: 3000, // Automatically close the notification after 3 seconds
                showConfirmButton: false
            });
        });
    </script>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectAllCheckbox = document.getElementById("select-all-checkbox");
        const checkboxes = document.querySelectorAll('input[name="selectedIds"]');
        const deleteButtonContainer = document.querySelector('.multi-delete-button');

        selectAllCheckbox.addEventListener("change", function () {
            checkboxes.forEach(cb => cb.checked = selectAllCheckbox.checked);
            toggleDeleteButton();
        });

        checkboxes.forEach(cb => {
            cb.addEventListener("change", toggleDeleteButton);
        });

        function toggleDeleteButton() {
            const isAnyChecked = Array.from(checkboxes).some(cb => cb.checked);
            deleteButtonContainer.classList.toggle('disabled', !isAnyChecked);
        }

        $('#periInvtyTable').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            columnDefs: [{ targets: [0, 0], orderable: false }],
            language: {
                paginate: {
                    previous: "Previous", // Change "Previous"
                    next: "Next" // Change "Next"
                }
            }
        });

    });
</script>
