@model AssetManagement.Models.MonitorNewAlloc

@{
    ViewData["Title"] = "Create";
}


<div class="m-4 px-1">
    @if (@TempData["SuccessNotification"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessNotification"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h4>Monitor New Allocation</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-2 mb-3" hidden>
                    <label asp-for="SecAllocId" class="control-label"></label>
                    <input asp-for="SecAllocId" class="form-control" />
                    <span asp-validation-for="SecAllocId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="AllocId" class="control-label"></label>
                    <input asp-for="AllocId" readonly value="@ViewBag.AllocId" class="form-control"/>
                    <span asp-validation-for="AllocId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="SecMonitorCode" class="control-label"></label>
                    <input asp-for="SecMonitorCode" readonly value="@ViewBag.SecMonitorCode" class="form-control" />
                    <span asp-validation-for="SecMonitorCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label asp-for="SerialNumber" class="control-label"></label>
                    <input asp-for="SerialNumber" readonly value="@ViewBag.SerialNumber" class="form-control" />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3" id="ownertable">
                    <label asp-for="SecOwnerCode" class="control-label"></label>
                    <input asp-for="SecOwnerCode" class="form-control" id="oid" hidden />
                    <input class="form-select" id="odes" placeholder="select owner" readonly/>
                    <span asp-validation-for="SecOwnerCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-3" hidden>
                    <label asp-for="SecAllocationStatus" class="control-label"></label>
                    <select asp-for="SecAllocationStatus" class="form-control" asp-items="ViewBag.SecAllocationStatus"></select>
                </div>
                <div class="form-group cold-md-2 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Save" class="btn btn-theme createbtn" />
                    <a class="btn btn-outline-secondary" asp-action="MonitorAllocPartialView" asp-controller="MonitorAllocations">Back</a>
                </div>
            </div>
        </form>
    </div>
    <div class="displaytable"></div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#ownertable").click(function () {

            $('#oid').val(null);

            $('#odes').val(null);
            $.ajax({
                url: "@Url.Action("MonitorOwnerPartialView", "Owners")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
    })
</script>
