@model IEnumerable<AssetManagement.Models.LaptopBorrowed>

@{
    Layout = null;
}



<div class="table-responsive">
    <table id="borrowedTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateBorrow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remark)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserUpdated)
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateBorrow)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.status_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserCreated.UserCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserUpdated.UserCode)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center">
                        No data available.
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
