@model AssetManagement.Models.LaptopInventory

@{
    ViewData["Title"] = "Create";
}

@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="m-4">
    <h4>Laptop  Inventory</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-2 mb-2" hidden>
                    <label asp-for="laptoptinvCode" class="control-label"></label>
                    <input asp-for="laptoptinvCode" class="form-control" />
                    <span asp-validation-for="laptoptinvCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" required placeholder="Enter Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2 mb-2" id="leveltable">
                    <label asp-for="LTLevel" class="control-label"></label>
                    <input asp-for="LTLevel" value="0" class="form-control" id="levelid" hidden />
                    <input class="form-select" id="leveldes" readonly placeholder="Select Level" required />
                </div>
                <div class="form-group col-md-2 mb-2" id="brandtable">
                    <label asp-for="LTBrand" class="control-label"></label>
                    <input asp-for="LTBrand" value="0" class="form-control" id="brandid" hidden />
                    <input class="form-select" id="branddes" readonly placeholder="Select Brand" required />
                </div>
                <div class="form-group col-md-2 mb-2" id="modeltable">
                    <label asp-for="LTModel" class="control-label"></label>
                    <input asp-for="LTModel" value="0" class="form-control" id="modelid" hidden />
                    <input class="form-select" id="modeldes" readonly placeholder="Select Model" required />
                </div>
                <div class="form-group col-md-2 mb-2" id="cputable">
                    <label asp-for="LTcpu" class="control-label"></label>
                    <input asp-for="LTcpu" value="0" class="form-control" id="cpuid" hidden />
                    <input class="form-select" id="cpudes" readonly placeholder="Select CPU" required />
                </div>
                <div class="form-group col-md-2 mb-2" id="harddisktable">
                    <label asp-for="LTHardisk" class="control-label"></label>
                    <input asp-for="LTHardisk" value="0" class="form-control" id="hdid" hidden />
                    <input class="form-select" id="hddes" readonly placeholder="Select Hard Disk" required />
                </div>
                <div class="form-group col-md-2 mb-2" id="memorytable">
                    <label asp-for="LTMemory" class="control-label"></label>
                    <input asp-for="LTMemory" value="0" class="form-control" id="mid" hidden />
                    <input class="form-select" id="mdes" readonly placeholder="Select Memory" required />
                </div>
                <div class="form-group col-md-2 mb-2" id="ostable">
                    <label asp-for="LTOS" class="control-label"></label>
                    <input asp-for="LTOS" value="0" class="form-control" id="osid" hidden />
                    <input class="form-select" id="osdes" readonly placeholder="Select OS" required />
                </div>
                <div class="form-group col-md-2 mb-2" hidden>
                    <label asp-for="AllocatedNo" class="control-label"></label>
                    <input asp-for="AllocatedNo" value="0" class="form-control" required />
                    <span asp-validation-for="AllocatedNo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 mb-2" hidden>
                    <label asp-for="AllocatedNo" class="control-label"></label>
                    <input asp-for="AllocatedNo" value="0" class="form-control" required />
                    <span asp-validation-for="AllocatedNo" class="text-danger"></span>
                </div>
                <div class="form-group cold-md-2 d-flex align-items-end gap-3 mt-3">
                    <input type="submit" value="Create" class="btn btn-red createbtn" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>

    <div class="displaytable">
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#leveltable").click(function () {
            $.ajax({
                url: "@Url.Action("LevelPartialView", "Levels")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //BRAND
        $("#brandtable").click(function () {
            $.ajax({
                url: "@Url.Action("BrandPartialView", "Brands")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //Model
        $("#modeltable").click(function () {
            $.ajax({
                url: "@Url.Action("ModelPartialView", "Modelss")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //CPU
        $("#cputable").click(function () {
            $.ajax({
                url: "@Url.Action("CPUPartialView", "CPUs")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //Hardisk
        $("#harddisktable").click(function () {
            $.ajax({
                url: "@Url.Action("HardDiskPartialView", "HardDisks")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //Memory
        $("#memorytable").click(function () {
            $.ajax({
                url: "@Url.Action("MemoryPartialView", "Memories")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //OS
        $("#ostable").click(function () {
            $.ajax({
                url: "@Url.Action("OSPartialView", "OS")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })

        //VENDOR
        $("#vendortable").click(function () {
            $.ajax({
                url: "@Url.Action("VendorsPartialView", "Vendors")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })



        // Function to hide the display table
        function hideTable() {
            $(".displaytable").empty();  // Clear the content of the display table
        }

        // Hide the display table when clicking anywhere outside the input fields
        $(document).click(function (event) {
            // Check if the clicked element is not within the periptable or ownertable
            if (!$(event.target).closest('#leveltable, #brandtable, #modeltable, #cputable, #harddisktable, #memorytable, #ostable, #vendortable, .displaytable').length) {
                hideTable();  // Hide the display table if clicked outside
            }
        });

        // Optional: Allow hiding the table if 'Esc' key is pressed
        $(document).keyup(function (e) {
            if (e.key === "Escape") {
                hideTable();  // Hide the table when the 'Esc' key is pressed
            }
        });

    })

</script>
