@model IEnumerable<AssetManagement.Models.LaptopAllocation>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}




<div class="table-responsive">
    <table id="deletedHistoryTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AllocId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComputerName)
                </th>
                <th>
                    PO
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FixedassetTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDeployed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LaptopInventory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createdby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updatedby)
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AllocId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComputerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryDetails.PO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FixedassetTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDeployed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.status_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaptopInventory.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center">
                        No data available.
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


