@model IEnumerable<AssetManagement.Models.SecondOwnerAlloc>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}



<div class="table-responsive">
    <table id="secOwnTable" class="table">
        <thead>
            <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.SecAllocId)
                </th>
                <th>
                    ID
                </th>
                <th>
                    COMPUTER NAME
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>PO</th>
                <th>
                    SERIAL
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createdby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updatedby)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.SecAllocId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaptopAllocation.AllocId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaptopAllocation.ComputerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.PO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaptopAllocation.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.status_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                        </td>
                    </tr>
                }
            }

            else
            {
                <tr>
                    <td colspan="12" class="text-center">
                        No data available.
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
