@model IEnumerable<AssetManagement.Models.LaptopAllocation>

@{
    ViewData["Title"] = "Index";

    object data = Model;
}

<style>
    .allocation-details {
        margin-bottom: 20px;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .allocation-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .allocation-description {
        font-size: 18px;
        color: #666;
        margin-top: 10px;
    }

</style>

<div class="m-4 mt-2">
    <div class="mb-2">
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index">
            <span class="fas fa-undo"></span> Back to List
        </a>
    </div>

    <div class="allocation-details">
        <h4 class="allocation-title">Laptop Allocation Details for ID: @ViewBag.Id</h4>
        <h5 class="allocation-description">Description: @ViewBag.Ids</h5>
    </div>


    <div class="galloon">
        <div class="d-flex align-items-center gap-2">
            <a class="btn btn-sm btn-secondary" id="ltUsedBtn">Laptop Used</a>
            <a class="btn btn-sm btn-outline-secondary" id="detailsBtn" name="userCODE"> Show Details</a>
            <a class="btn btn-sm btn-outline-secondary" id="secOwnerBtn" name="userCODE">Show Second Owner</a>
            <a class="btn btn-sm btn-outline-secondary" id="returnBtn" name="userCODE">Return </a>
            <a class="btn btn-sm btn-outline-secondary" id="borrowedBtn" name="userCODE">Borrowed </a>
            <a class="btn btn-sm btn-outline-secondary" id="recentBtn" name="userCODE">Deleted Items </a>
        </div>


        <!-- Action Buttons -->
        <div class="d-flex align-items-center justify-content-end mb-4">
            <div class="d-flex align-items-center gap-2">
                <input type="text" id="filterInput" placeholder="Search..." class="form-control" style="width: 350px;">
            </div>
        </div>

        <div class="table-responsive mt-4">
            @* <table id="LTAllocTable" class="table"> *@
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Owner)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ComputerName)
                        </th>
                        <th>
                            PO
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SerialNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FixedassetTag)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.DateDeployed)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.AllocationStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.LaptopInventory)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Createdby)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateUpdated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Updatedby)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AllocId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComputerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InventoryDetails.PO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FixedassetTag)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateDeployed)
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.AllocationStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.LaptopInventory.laptoptinvCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateUpdated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center">
                                No data available.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="displaytable"> </div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".galloon").on("click", "#ltUsedBtn", function () {
            location.reload();
        });

        $(".galloon").on("click", "#secOwnerBtn", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("InventorySecOwnerDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".table").html(res);
                }
            });

            // Change button class when the "Return" button is clicked
            $(this).removeClass("btn-outline-secondary").addClass("btn-secondary");

            // Optionally, reset other buttons to their default class if needed
            $(".galloon .btn").not(this).removeClass("btn-secondary").addClass("btn-outline-secondary");
        });


        $(".galloon").on("click", "#detailsBtn", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("seeDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });

            // Change button class when the "Return" button is clicked
            $(this).removeClass("btn-outline-secondary").addClass("btn-secondary");

            // Optionally, reset other buttons to their default class if needed
            $(".galloon .btn").not(this).removeClass("btn-secondary").addClass("btn-outline-secondary");
        });


        $(".galloon").on("click", "#returnBtn", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("ReturnDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".table").html(res);
                }
            });

            // Change button class when the "Return" button is clicked
            $(this).removeClass("btn-outline-secondary").addClass("btn-secondary");

            // Optionally, reset other buttons to their default class if needed
            $(".galloon .btn").not(this).removeClass("btn-secondary").addClass("btn-outline-secondary");
        });

        $(".galloon").on("click", "#borrowedBtn", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("Borrowed", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".table").html(res);
                }
            });

            // Change button class when the "Return" button is clicked
            $(this).removeClass("btn-outline-secondary").addClass("btn-secondary");

            // Optionally, reset other buttons to their default class if needed
            $(".galloon .btn").not(this).removeClass("btn-secondary").addClass("btn-outline-secondary");
        });

        $(".galloon").on("click", "#recentBtn", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("DeletedHistory", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".table").html(res);
                }
            });

            // Change button class when the "Return" button is clicked
            $(this).removeClass("btn-outline-secondary").addClass("btn-secondary");

            // Optionally, reset other buttons to their default class if needed
            $(".galloon .btn").not(this).removeClass("btn-secondary").addClass("btn-outline-secondary");
        });



        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
</script>

