@model IEnumerable<AssetManagement.Models.InventoryDetails>

@{
    ViewData["Title"] = "View All";
}
<style>
    .allocation-details {
        margin-bottom: 20px;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .allocation-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .allocation-description {
        font-size: 18px;
        color: #666;
        margin-top: 10px;
    }
</style>
<div class="m-4">

    <div class="allocation-details">
        <h4 class="allocation-title">Laptop Allocation Details for ID: @ViewBag.Id</h4>
        <h5 class="allocation-description">Description: @ViewBag.Ids</h5>
    </div>

    <!-- Action Buttons -->
    <div class="d-flex align-items-center justify-content-between gap-2 mb-4">
        <div>
            <a class="btn btn-outline-secondary" asp-controller="LaptopInventories" asp-action="Index">
                Back to List
            </a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <input type="text" id="filterInput" placeholder="Search..." class="form-control" style="width: 350px;">
        </div>
    </div>



    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        CODE
                    </th>
                    <th>
                        PO
                    </th>
                    <th>
                        SERIAL
                    </th>
                    <th>
                        PRICE
                    </th>
                    <th>
                        VENDOR
                    </th>
                    <th>
                        Computer Name
                    </th>
                    <th>
                        SERVICE YEARS
                    </th>
                    <th>
                        PURCHASE DATE
                    </th>
                    <th>
                        DEPLOYED DATE
                    </th>
                    <th>
                        STATUS
                    </th>
                    <th>
                        CREATEDBY
                    </th>
                    <th>
                        CREATED AT
                    </th>
                    <th>
                        UPDATEDBY
                    </th>
                    <th>
                        UPDATE AT
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaptopInventory.laptoptinvCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComputerName)
                        </td>
                        <td>

                            @{
                                if (item.PurchaseDate != null)
                                {
                                    var purchaseDate = item.PurchaseDate.Value;
                                    var now = DateTime.Now;

                                    var totalDays = (now - purchaseDate).Days;

                                    var years = now.Year - purchaseDate.Year;
                                    var months = now.Month - purchaseDate.Month;
                                    var days = now.Day - purchaseDate.Day;

                                    if (days < 0)
                                    {
                                        months--;
                                        days += DateTime.DaysInMonth(now.Year, now.AddMonths(-1).Month);
                                    }

                                    if (months < 0)
                                    {
                                        years--;
                                        months += 12;
                                    }

                                    if (years > 0)
                                    {
                                        <span>@years year(s), @months month(s), @days day(s)</span>
                                    }
                                    else if (months > 0)
                                    {
                                        <span>@months month(s), @days day(s)</span>
                                    }
                                    else
                                    {
                                        <span>@days day(s)</span>
                                    }
                                }
                                else
                                {
                                    <span>N/A</span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeployedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.status_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                        </td>
                        <td>
                            <form method="post" asp-action="Delete" asp-controller="InventoryDetails" asp-route-id="@item.SerialCode">
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                    <span class="fas fa-trash-alt"></span> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        //FILTERING
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>