@model IEnumerable<AssetManagement.Models.LaptopAllocation>

@{
    ViewData["Title"] = "Reports Laptop Active";
}


<div class="m-4">
    <div class="allocation-details">
        <h4 class="allocation-title">Active Laptops</h4>
    </div>
    <div class="margin">
        <a href="@Url.Action("ExportToExcel", "LaptopAllocations")" class="btn btn-outline-success createbtn">
            <i class="bi bi-file-excel"></i> Export to Excel
        </a>
        <a class="btn btn-outline-primary" id="userCode1">
            First Owner
        </a>
        <a class="btn btn-outline-danger" id="userCode2">
            Second Owner
        </a>
    </div>
    <div class="report-view">
        <div class="report-item">
            <span class="report-label">Total Active Laptops:</span>
            <span class="report-value">@ViewBag.TotalActiveLaptops</span>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="d-flex align-items-center justify-content-end mb-4">
        <div class="d-flex align-items-center gap-2">
            <input type="text" id="filterInput" placeholder="Search..." class="form-control" style="width: 350px;">
        </div>
    </div>


    <div class="card shadow-sm card-selected">
        <div class="card-body renderT">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AllocId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Owner)
                            </th>
                            <th>
                                DESCRIPTION
                            </th>
                            <th>
                                CODE
                            </th>
                            <th>
                                BRAND
                            </th>
                            <th>
                                LEVEL
                            </th>
                            <th>
                                OS
                            </th>
                            <th>
                                MEMORY
                            </th>
                            <th>
                                HARDDISK
                            </th>
                            <th>
                                PO
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SerialNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FixedassetTag)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateDeployed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AllocationStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateUpdated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Createdby)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updatedby)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.AllocId)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Description)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopCode)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Brand.BrandDescription)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Level.LevelDescription)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.OS.OSDescription)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Memory.Capacity.CapacityDescription)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.HardDisk.Capacity.CapacityDescription)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.PO)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.FixedassetTag)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateDeployed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.status_name)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateUpdated)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="displaytable"> </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(document).on("click", "#userCode2", function () {
            $.ajax({
                url: "@Url.Action("LTNewActiveReport", "LaptopAllocations")",
                type: "GET",
                success: function (res) {
                    $(".renderT").html(res);
                }
            });
        });

        $(document).on("click", "#userCode1", function () {
            window.location.reload();
        });

        $(document).on("click", ".editbtn", function () {
            var userCode = $(this).attr("id");

            $.ajax({
                url: "@Url.Action("seeDetails", "SecondOwnerAllocs")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>