@model IEnumerable<AssetManagement.Models.InventoryDetails>

@{
    ViewData["Title"] = "Report";
}
<style>
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
        overflow: hidden;
    }

    /* Add this CSS to adjust the top margin of the layout container */
    .container {
        margin-top: 70px; /* Adjust this value according to your navbar height */
    }

    .report-view {
        text-align: right;
        margin-top: -20px;
    }

    .report-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .report-label {
        font-weight: bold;
        margin-right: 10px;
        color: #333;
    }

    .report-value {
        font-size: 18px;
        font-weight: bold;
        background-color: #f2f2f2;
        padding: 5px 10px;
        border-radius: 5px;
        color: green;
    }

    .allocation-details {
        margin-bottom: 20px;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .allocation-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
</style>
@if (TempData["Welcome"] != null)
{
    <div class="toast-notification animated-toast">
        <p>@TempData["Welcome"]</p>
    </div>
}


<div class="allocation-details">
    <h4 class="allocation-title">Available Laptops</h4>
</div>
<div class="report-view">
    <div class="report-item">
        <span class="report-label">Total Available Laptop:</span>
        <span class="report-value">@ViewBag.TotalAvailableLaptop</span>
    </div>
</div>
<input type="text" id="filterInput" placeholder="Search...">
<div>
    <table class="table custom-fontsize  ">
        <thead>
            <tr>
                <th>
                    CODE
                </th>
                <th>
                    DESCRIPTION
                </th>
                <th>
                    BRAND
                </th>
                <th>
                    LEVEL
                </th>
                <th>
                    OS
                </th>
                <th>
                    MEMORY
                </th>
                <th>
                    HARDDISK
                </th>
                <th>
                    PO
                </th>
                <th>
                    SERIAL
                </th>
                <th>
                    PRICE
                </th>
                <th>
                    VENDOR
                </th>
                <th>
                    PURCHASE DATE
                </th>
                <th>
                    DEPLOYED DATE
                </th>
                <th>
                    STATUS
                </th>
                <th>
                    CREATED BY
                </th>
                <th>
                    CREATED AT
                </th>
                <th>
                    UPDATED BY
                </th>
                <th>
                    UPDATED AT
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopInventory.laptoptinvCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopInventory.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopInventory.Brand.BrandDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopInventory.Level.LevelDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopInventory.OS.OSDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopInventory.Memory.Capacity.CapacityDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaptopInventory.HardDisk.Capacity.CapacityDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                    </td>
                    @if (item.PurchaseDate < DateTime.Now.AddMonths(-12))
                    {
                        <td style="color: red; font-size:11px;">
                            @Html.DisplayFor(modelItem => item.PurchaseDate)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseDate)
                        </td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.DeployedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.status_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>




    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>