@model IEnumerable<AssetManagement.Models.LaptopAllocation>

@{
    ViewData["Title"] = "Index";
}

<div class="mx-4">
    <h4>Deleted Items </h4>
    @if (TempData["Welcome"] != null)
    {
        <div class="toast-notification animated-toast">
            <p>@TempData["Welcome"]</p>
        </div>
    }

    <div class="mb-2">
        <a class="btn btn-sm btn-secondary" asp-controller="LaptopAllocations" asp-action="Index">Back to Lists</a>
    </div>

    <hr />

    <!-- Table -->
    <div class="mt-4">
        <div class="table-container table-responsive">
            <table id="inactiveLaptopAlloTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AllocId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ComputerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Owner)
                        </th>

                        <th>
                            LAPTOP CODE
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LaptopInventory)
                        </th>
                        <th>
                            PO
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SerialNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FixedassetTag)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateDeployed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateUpdated)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Createdby)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Updatedby)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AllocId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComputerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LaptopCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LaptopInventory.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InventoryDetails.PO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SerialNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FixedassetTag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateDeployed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>


@if (TempData["SuccessNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success',
                text: '@TempData["SuccessNotification"]',
                icon: 'success',
                timer: 3000,
                showConfirmButton: false
            });
        });
    </script>
}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Initialize DataTables
        $('#inactiveLaptopAlloTable').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
        });
    });
</script>
