@model IEnumerable<AssetManagement.Models.LaptopAllocation>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">



<style>

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
        overflow: hidden;
    }

    /* Add this CSS to adjust the top margin of the layout container */
    .container {
        margin-top: 70px; /* Adjust this value according to your navbar height */
    }


    .report-view {
        text-align: right;
    }

    .report-item {
        margin-bottom: 10px;
    }

    .report-label {
        font-weight: bold;
        margin-right: 10px;
        color: #333;
    }

    .report-value {
        font-size: 18px;
        font-weight: bold;
        background-color: #f2f2f2;
        padding: 5px 10px;
        border-radius: 5px;
        color: green;
    }

    .filter {
        margin-top: 20px;
    }
</style>
@if (TempData["Welcome"] != null)
{
    <div class="toast-notification animated-toast">
        <p>@TempData["Welcome"]</p>
    </div>
}

@{
    var alertMessage = TempData["AlertMessage"] as string;
    if (!string.IsNullOrEmpty(alertMessage))
    {
        <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #BF1E25; color: white;">
            @alertMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<script>
    $(document).ready(function () {
        // Close the alert after 6 seconds
        setTimeout(function () {
            $("#alert").alert("close");
        }, 5000);
    });
</script>
<h2>Laptop Allocation</h2>

<div class="report-view">
    <div class="report-item">
        <span class="report-label">Total Active Laptops:</span>
        <span class="report-value">@ViewBag.TotalActiveLaptops</span>
    </div>
    <div class="report-item">
        <span class="report-label">Total Inactive Laptops:</span>
        <span class="report-value">@ViewBag.TotalInactiveLaptops</span>
    </div>
</div>

<p style="margin-top:-36px;">
    <a id="createbtn" class="bg-success h5 text-white text-decoration-none p-2 btn createbtn" asp-action="Create">Create New</a>
    <a class="btn btn-sm bg-secondary h5 text-white text-decoration-none p-2 btn createbtn" asp-action="Inactive">Show Deleted</a>
    @*<a href="@Url.Action("ExportToExcel", "LaptopAllocations")" class="bg-success h5 text-white text-decoration-none p-2 btn createbtn"><i class="bi bi-file-excel"></i> Export to Excel</a>*@
</p>

<div class="filter">
<input type="text" id="filterInput" placeholder="Search...">
</div>


<form method="post" action="@Url.Action("DeleteAsEdit", "LaptopAllocations")">
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the selected item(s)?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
<div class="table-container">
        <table class="table custom-fontsize p-4 ">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.AllocId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                DESCRIPTION
            </th>
            <th>
                CODE
            </th>
            <th>
                PO
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedassetTag)
            </th>
            <th>
                        @Html.DisplayNameFor(model => model.DateDeployed)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.AllocationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedby)
            </th>

            <th>
                <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <span id="boot-icon" class="bi bi-trash-fill"></span>
                </button>

            </th>
            <th>
                        <input type="checkbox" id="select-all-checkbox" class="green-checkbox" />
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                    if(item.AllocationStatus == "CO")
                    {
                        <tr style="color: red;">
                            <td>
                                @Html.DisplayFor(modelItem => item.AllocId)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.ComputerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LaptopInventory.Description)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.LaptopCode)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.InventoryDetails.PO)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.SerialNumber)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.FixedassetTag)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.DateDeployed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                            </td>
                            
                            <td>
                                <input type="checkbox" name="selectedIds" id="select-all-checkbox" class="green-checkbox" value="@item.AllocId" />
                            </td>
                            <td>
                                <a class="btn btn-sm bg-secondary  text-white custom-fontsize editbtn" asp-action="Create" asp-controller="ReturnLTAs" asp-route-id="@item.AllocId">Return </a>
                                
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr >
                            <td>
                                @Html.DisplayFor(modelItem => item.AllocId)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.ComputerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LaptopInventory.Description)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.LaptopCode)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.InventoryDetails.PO)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.SerialNumber)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.FixedassetTag)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.DateDeployed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                            </td>
                            <td class="editbtn" id="@item.LaptopInventory.Description" id="userCode2" name="userCODE">
                                @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                            </td>
                            
                            <td>
                                <input type="checkbox" name="selectedIds" id="select-all-checkbox" class="green-checkbox" value="@item.AllocId" />
                            </td>
                            <td>
                                <a class="btn btn-sm bg-secondary  text-white custom-fontsize editbtn" asp-action="Create" asp-controller="ReturnLTAs" asp-route-id="@item.AllocId">Return </a>
                                @if (item.InventoryDetails.PurchaseDate <= DateTime.Now.AddYears(-4))
                                {
                                    <a class="btn btn-sm bg-warning  text-white custom-fontsize" asp-action="ChangeStatus" asp-controller="LaptopAllocations" asp-route-id="@item.AllocId">YES </a>
                                }
                            </td>
                        </tr>
                    }
                }
                    
    </tbody>
</table>

    </div>

</form>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert('@TempData["ErrorMessage"]');
    </script>
}

<div class="displaytable"> </div>

@if (TempData["SuccessNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success',
                text: '@TempData["SuccessNotification"]',
                icon: 'success',
                timer: 3000, // Automatically close the notification after 3 seconds
                showConfirmButton: false
            });
        });
    </script>
}



<script>
    const selectAllCheckbox = document.getElementById("select-all-checkbox");

    const checkboxes = document.querySelectorAll('input[type="checkbox"][name="selectedIds"]');



    selectAllCheckbox.addEventListener("change", function () {

        for (let i = 0; i < checkboxes.length; i++) {

            checkboxes[i].checked = selectAllCheckbox.checked;

        }
    });
    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });






    //MODAL

    $(document).ready(function () {
        $(document).on("click", ".editbtn", function () {
            var userCode = $(this).attr("id");

            $.ajax({
                url: "@Url.Action("seeDetails", "SecondOwnerAllocs")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });
    });
</script>