@model IEnumerable<AssetManagement.Models.LaptopAllocation>

@{
    ViewData["Title"] = "Index";
}

<div class="m-4">
    <div class="allocation-details">
        <h4 class="allocation-title">Owned Laptops</h4>
    </div>
    <div class="report-view">
        <div class="report-item">
            <span class="report-label">Total Owned Laptops:</span>
            <span class="report-value">@ViewBag.TotalActiveLaptops</span>
        </div>
    </div>


    <div class="card shadow-sm card-selected">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped table-datatable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AllocId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Owner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ComputerName)
                            </th>
                            <th>
                                DESCRIPTION
                            </th>
                            <th>
                                LAPTOP CODE
                            </th>
                            <th>
                                BRAND
                            </th>
                            <th>
                                LEVEL
                            </th>
                            <th>
                                OS
                            </th>
                            <th>
                                MEMORY
                            </th>
                            <th>
                                HARDDISK
                            </th>
                            <th>
                                PO
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SerialNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FixedassetTag)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateDeployed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AllocationStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateUpdated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Createdby)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updatedby)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AllocId)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.ComputerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Description)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Brand.BrandDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Level.LevelDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.OS.OSDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.Memory.Capacity.CapacityDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.LaptopInventory.HardDisk.Capacity.CapacityDescription)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopInventoryDetails.PO)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.FixedassetTag)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateDeployed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.status_name)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateUpdated)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                                </td>
                                <td class="editbtn" id="@item.LaptopInventoryDetails.LaptopInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert('@TempData["ErrorMessage"]');
    </script>
}

<div class="displaytable"> </div>

@if (TempData["SuccessNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success',
                text: '@TempData["SuccessNotification"]',
                icon: 'success',
                timer: 3000, // Automatically close the notification after 3 seconds
                showConfirmButton: false
            });
        });
    </script>
}



<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(document).on("click", ".editbtn", function () {
            var userCode = $(this).attr("id");

            $.ajax({
                url: "@Url.Action("seeDetails", "SecondOwnerAllocs")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });
    });
</script>