@model IEnumerable<AssetManagement.Models.SecondOwnerPeripAlloc>

@{
    ViewData["Title"] = "Index";
}


<div class="mx-4">
    <h4>Inactive Items</h4>
    @if (TempData["Welcome"] != null)
    {
        <div class="toast-notification animated-toast">
            <p>@TempData["Welcome"]</p>
        </div>
    }

    <div class="mb-2">
        <a class="btn btn-sm btn-secondary" asp-action="Index">Back to Lists</a>
    </div>

    <hr />

    <div class="d-flex align-items-center justify-content-end mb-2">
        <input type="text" class="form-control" id="filterInput" placeholder="Search..." style="width: 350px;">
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaptopPeripheral)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DatePurchased)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AgeYears)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.LaptopPeripAlloc.PeripheralAllocationId)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.LaptopPeripheral.PeripheralDescription)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.DatePurchased)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.AgeYears)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.Status.status_name)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.CreatedBy.UserCode)
                        </td>
                        <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.UpdatedBy.UserCode)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>
