@model AssetManagement.Models.UpsServe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UpsServe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpsStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpsStore.ups_store)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpsCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpsCode.ups_store)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitServe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitServe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UnitNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
