@model IEnumerable<AssetManagement.Models.Vendor>

@{
    ViewData["Title"] = "Inactive";
}


<div class="mx-4">
    <div class="mb-4">
        <a class="btn btn-sm btn-secondary" asp-controller="Vendors" asp-action="Index">Back to List</a>
    </div>

    <h4>Inactive Vendor</h4>
    <div class="mt-4">
    <table id="inactiveVendorTable" class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VCreatedby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VUpdateby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VCreatedby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VUpdateby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td class="d-flex flex-row gap-2">
                        <a class="btn btn-sm btn-success btn-activate" asp-controller="Vendors" asp-action="Activate" asp-route-id="@item.VendorID" data-id="@item.VendorID">
                            <span class="fas fa-undo"></span> Retrieve
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize DataTables
        $('#inactiveVendorTable').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            columnDefs: [{ targets: [0, 0], orderable: false }],
            language: {
                paginate: {
                    previous: "Previous", // Change "Previous"
                    next: "Next" // Change "Next"
                }
            }
        });
    });
</script>
