@model IEnumerable<AssetManagement.Models.Vendor>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<style>
    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
    }
</style>

<input type="text" id="filterInput" placeholder="Search...">

<div class="table-responsive scrollable-container">
    <table class="table custom-fontsize p-4" style="cursor:pointer;">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedby)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.VendorID" data-od="@item.VendorName">
                <td hidden>
                    @Html.DisplayFor(modelItem => item.VendorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Status.status_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                </td>
            </tr>
        }
    </tbody>
</table>
</div>


<script>
    $(document).ready(function () {


        // Add click event listener to each row in the table
        $('table tbody tr').click(function () {
            // Get the id from the clicked row's data-id attribute
            var id = $(this).data('id');
            var od = $(this).data('od');


            // Remove the 'highlighted-row' class from any other row
            $("tr.highlighted-row").removeClass("highlighted-row");

            // Add the 'highlighted-row' class to the clicked row
            $(this).closest("tr").addClass("highlighted-row");
            $('#vid').val(id);
            $('#vname').val(od);


        });

    });

    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
