@model IEnumerable<AssetManagement.Models.InventoryDetails>
@{
    ViewData["Title"] = "Aging Reports";
}





<div class="allocation-details">
    <h4 class="allocation-title">Laptops Aging Report</h4>
</div>

<div class="galloon">
    <p>
        <a class="btn btn-sm btn-secondary createbtn" asp-action="FilterLaptopsDeploy" asp-controller="InventoryDetails">Back</a>
        <a class="btn btn-sm btn-outline-secondary createbtn" id="userCode2" name="userCODE">4 Years Laptop</a>
        <a class="btn btn-sm btn-outline-secondary createbtn" id="userCode" name="userCODE">6 Years Laptop</a>
        <a class="btn btn-sm btn-outline-secondary createbtn" id="userCode3" name="userCODE">8 Years Laptop</a>
    </p>
</div>
<div class="displaytable"> </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#userCode").click(function () {
            var userCode = "@ViewBag.Id";
            $.ajax({
                url: "@Url.Action("Get6OldLaptopsDeploy", "InventoryDetails")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".table").html(res);
                }
            });
        });

        $("#userCode2").click(function () {
            var userCode = "@ViewBag.Id";
            $.ajax({
                url: "@Url.Action("Get4OldLaptopsDeploy", "InventoryDetails")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });

        $("#userCode3").click(function () {
            var userCode = "@ViewBag.Id";
            $.ajax({
                url: "@Url.Action("Get8OldLaptopsDeploy", "InventoryDetails")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".table").html(res);
                }
            });
        });
    });
</script>
