@model IEnumerable<AssetManagement.Models.ReturnMTA>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18"></script>
<style>

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }


    body {
        font-family: 'Chivo', sans-serif;
        margin: 0;
        padding: 10px;
        overflow: hidden;
    }

    /* Add this CSS to adjust the top margin of the layout container */
    .container {
        margin-top: 70px; /* Adjust this value according to your navbar height */
    }
</style>
@if (TempData["Welcome"] != null)
{
    <div class="toast-notification animated-toast">
        <p>@TempData["Welcome"]</p>
    </div>
}
<h2 class="title">
    Return Monitor Allocation
</h2>
<p>
    <a id="createbtn" class="bg-success h5 text-white text-decoration-none p-2 btn createbtn" asp-action="ReturnPartialView" asp-controller="MonitorAllocations">Create</a>
</p>
<input type="text" class="search" id="filterInput" placeholder="Search...">
<div class="table-container">
    <table class="table custom-fontsize p-4">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MonitorAllocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnType)
                </th>
                <th>
                    OWNER
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCreated)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserUpdated)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorAllocation.AllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorAllocation.OwnerCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCreated.UserFullName)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserUpdated.UserFullName)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.status_name)
            </td>

                    <td>
                        <div class="d-flex flex-row gap-2 ">
                            @if (item.ReturnType.Return_Inv != "N")
                            {
                                <a class="btn btn-sm bg-success text-white custom-fontsize editbtn" asp-action="Edit" asp-route-id="@item.ReturnID">Edit</a>
                            }
                        </div>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>
@if (TempData["SuccessNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success',
                text: '@TempData["SuccessNotification"]',
                icon: 'success',
                timer: 3000, // Automatically close the notification after 3 seconds
                showConfirmButton: false
            });
        });
    </script>
}
<script>
    $(document).ready(function () {
        $(".editbtn").click(function () {
            $(".createbtn").hide();
            var id = $(this).data("id");
            // Remove the 'highlighted-row' class from any other row
            $("tr.highlighted-row").removeClass("highlighted-row");

            // Add the 'highlighted-row' class to the clicked row
            $(this).closest("tr").addClass("highlighted-row");

            $.ajax({
                url: "@Url.Action("Edit","ReturnMTAs")",
                type: "GET",
                data: { id: id },
                success: function (res) {
                    $(".createform").html(res);
                }
            })
        })
    })


    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>