@model IEnumerable<AssetManagement.Models.BorrowedPeripherals>

@{
    ViewData["Title"] = "Index";
}


<div class="m-4 px-1">
    <h4>Borrowed Peripherals</h4>
    @if (TempData["Welcome"] != null)
    {
        <p>@TempData["Welcome"]</p>
    }

    <div>
        <a id="createbtn" class="btn btn-outline-theme" asp-action="LTPeripPartialView">
            <span class="fas fa-pencil-alt"></span> Create New
        </a>
    </div>

    <hr />

    <div class="d-flex align-items-center justify-content-end mb-2">
        <input type="text" class="form-control" id="filterInput" placeholder="Search..." style="width: 350px;">
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LaptopPeripheral)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateBorrow)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserUpdated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LaptopPeripheral.PeripheralDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateBorrow)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserCreated.UserCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserUpdated.UserCode)
                            </td>
                            <td>
                                <form asp-action="Delete" method="post" class="delete-form">
                                    <input type="hidden" name="id" value="@item.BorrowedID" />
                                    <a class="btn btn-sm  bg-danger text-white custom-fontsize btn-delt">Return</a>

                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="20" class="text-center">
                            No data available.
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    //FILTERING
    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


        $(".btn-delt").click(function () {
            $(this).closest("form").submit();
        })
    });


</script>