@model IEnumerable<AssetManagement.Models.LaptopPeripheral>

@{
    ViewData["Title"] = "Index";

}


<div class="m-4 px-1">

    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>

    <hr />

    <div class="d-flex align-items-center justify-content-end mb-3">
        <input type="text" class="form-control" id="filterInput" placeholder="Search..." style="width: 350px;">
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <thead>
                <tr>
                    <th hidden>
                            @Html.DisplayNameFor(model => model.PeripheralCode)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.PeripheralDescription)
                    </th>
                    <th hidden>
                            @Html.DisplayNameFor(model => model.PeripheralQty)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.PeripheralAllocation)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.PeripheralUpdatedAt)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.DeviceType)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Vendor)
                    </th>
                    <th hidden>
                            @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                        <tr data-id="@item.PeripheralCode" data-ld="@item.PeripheralDescription">
                            <td hidden>
                                    @Html.DisplayFor(modelItem => item.PeripheralCode)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.PeripheralDescription)
                            </td>
                            <td hidden>
                                    @Html.DisplayFor(modelItem => item.PeripheralQty)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.PeripheralAllocation)
                            </td>

                            <td>
                                    @Html.DisplayFor(modelItem => item.PeripheralUpdatedAt)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Brand.BrandDescription)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.DeviceType.DevtypeDescription)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                            </td>
                            <td hidden>
                                    @Html.DisplayFor(modelItem => item.Status.status_name)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy.UserFullName)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedBy.UserFullName)
                            </td>
                            <td>
                                <a class="btn btn-sm bg-secondary  text-white custom-fontsize editbtn" asp-action="Create" asp-controller="BorrowedPeripherals" asp-route-id="@item.PeripheralCode">BORROW</a>
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                    <tr>
                        <td colspan="20" class="text-center">
                            No data available.
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Add click event listener to each row in the table
            $('table tbody tr').click(function () {
                // Get the id from the clicked row's data-id attribute
                var id = $(this).data('id');
                var ld = $(this).data('ld');


                // Remove the 'highlighted-row' class from any other row
                $("tr.highlighted-row").removeClass("highlighted-row");

                // Add the 'highlighted-row' class to the clicked row
                $(this).closest("tr").addClass("highlighted-row");
                $('#peripid').val(id);
                $('#peripdes').val(ld);


            });

        });

        //FILTERING

        $(document).ready(function () {
            $('#filterInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
