@model AssetManagement.Models.Ups

@{
    ViewData["Title"] = "Create";
}


<div class="m-4 px-1">
    <h4>Add Uninterruptible Power Supply</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_store" class="control-label"></label>
                    <select asp-for="ups_store" class="form-select" asp-items="ViewBag.ups_store">
                        <option selected disabled class="text-muted">select store</option>
                    </select>
                    <span class="text-danger d-none" id="uStoreValidation">The STORE field is required.</span>
                </div>

               g <div class="form-group col-2 mb-2" hidden>
                    <label asp-for="ups_code" class="control-label"></label>
                    <input asp-for="ups_code" class="form-control" />
                    <span asp-validation-for="ups_code" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2" id="brandtable">
                    <label asp-for="ups_brand" class="control-label"></label>
                    <input asp-for="ups_brand" class="form-select" id="brandid" hidden />
                    <input class="form-select" id="branddes" readonly placeholder="Select brand below" />
                    <span class="text-danger d-none" id="uBrandValidation">The BRAND field is required.</span>
                </div>
                <div class="form-group col-2 mb-2" id="modeltable">
                    <label asp-for="ups_model" class="control-label"></label>
                    <input asp-for="ups_model" class="form-select" id="modelid" hidden />
                    <input class="form-select" id="modeldes" readonly placeholder="Select model below" />
                    <span class="text-danger d-none" id="uModelValidation">The MODEL field is required.</span>
                </div>
                <div class="form-group col-2 mb-2" id="typetable">
                    <label asp-for="ups_type" class="control-label"></label>
                    <input asp-for="ups_type" class="form-select" id="typeid" hidden />
                    <input class="form-select" id="typedes" readonly placeholder="Select type below" />
                    <span class="text-danger d-none" id="uTypeValidation">The TYPE field is required.</span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_serial" class="control-label"></label>
                    <input asp-for="ups_serial" class="form-control" placeholder="Enter serial number" />
                    <span asp-validation-for="ups_serial" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_warranty" class="control-label"></label>
                    <input asp-for="ups_warranty" class="form-control" placeholder="Enter warranty" />
                    <span asp-validation-for="ups_warranty" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_validity" class="control-label"></label>
                    <input asp-for="ups_validity" class="form-control" />
                    <span asp-validation-for="ups_validity" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_iovoltage" class="control-label"></label>
                    <input asp-for="ups_iovoltage" class="form-control" placeholder="Enter IO Voltage" />
                    <span asp-validation-for="ups_iovoltage" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_dcvoltage" class="control-label"></label>
                    <input asp-for="ups_dcvoltage" class="form-control" placeholder="Enter DC Voltage" />
                    <span asp-validation-for="ups_dcvoltage" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_idealload" class="control-label"></label>
                    <input asp-for="ups_idealload" class="form-control" placeholder="Enter Ideal Load" />
                    <span asp-validation-for="ups_idealload" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_currentload" class="control-label"></label>
                    <input asp-for="ups_currentload" class="form-control" placeholder="Enter Current Load" />
                    <span asp-validation-for="ups_currentload" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2" id="vendortable">
                    <label asp-for="ups_vendor" class="control-label"></label>
                    <input asp-for="ups_vendor" class="form-control" id="vid" hidden />
                    <input class="form-select" id="vname" readonly placeholder="Select vendor below" />
                    <span class="text-danger d-none" id="uVendorValidation">The VENDOR field is required.</span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_dtinstalled" class="control-label"></label>
                    <input asp-for="ups_dtinstalled" class="form-control" />
                    <span asp-validation-for="ups_dtinstalled" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2" id="conditiontable">
                    <label asp-for="ups_condition" class="control-label"></label>
                    <input asp-for="ups_condition" class="form-control" id="cid" hidden />
                    <input class="form-select" id="cname" readonly placeholder="Select ups condition below" />
                    <span class="text-danger d-none" id="uUpsconditionValidation">The UPS CONDITION field is required.</span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_serviceyrs" class="control-label"></label>
                    <input asp-for="ups_serviceyrs" class="form-control" placeholder="Enter service years"/>
                    <span asp-validation-for="ups_serviceyrs" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_lastpmdt" class="control-label"></label>
                    <input asp-for="ups_lastpmdt" class="form-control" />
                    <span asp-validation-for="ups_lastpmdt" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2" id="batttable">
                    <label asp-for="ups_battstatus" class="control-label"></label>
                    <input asp-for="ups_battstatus" class="form-control" id="battid" hidden />
                    <input class="form-select" id="battdes" readonly placeholder="Select battery status below"/>
                    <span class="text-danger d-none" id="uBstatusValidation">The BATTERY STATUS field is required.</span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_battrepcount" class="control-label"></label>
                    <input asp-for="ups_battrepcount" class="form-control" />
                    <span asp-validation-for="ups_battrepcount" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_unitserve" class="control-label"></label>
                    <input asp-for="ups_unitserve" class="form-control" />
                    <span asp-validation-for="ups_unitserve" class="text-danger"></span>
                </div>
                <div class="form-group col-2 mb-2" hidden>
                    <label asp-for="ups_status" class="control-label"></label>
                    <select asp-for="ups_status" class="form-control" asp-items="ViewBag.ups_status"></select>
                </div>
                <div class="form-group col-2 mb-2">
                    <label asp-for="ups_remarks" class="control-label"></label>
                    <input asp-for="ups_remarks" class="form-control" />
                    <span asp-validation-for="ups_remarks" class="text-danger"></span>
                </div>
                <div class="form-group col-2" style="margin-top:23px;">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn btn-secondary" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="displaytable"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#brandtable").click(function () {

            $('#brandid').val(null);

            $('#branddes').val(null);
            $.ajax({
                url: "@Url.Action("BrandPartialView", "Brands")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
        $("#modeltable").click(function () {

            $('#modelid').val(null);

            $('#modeldes').val(null);
            $.ajax({
                url: "@Url.Action("ModelPartialView", "Modelss")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
        $("#vendortable").click(function () {

            $('#vid').val(null);

            $('#vname').val(null);
            $.ajax({
                url: "@Url.Action("VendorsPartialView", "Vendors")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
        $("#typetable").click(function () {

            $('#typeid').val(null);

            $('#typedes').val(null);
            $.ajax({
                url: "@Url.Action("UpsTypesPartialView", "UpsTypes")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
        $("#conditiontable").click(function () {

            $('#cid').val(null);

            $('#cname').val(null);
            $.ajax({
                url: "@Url.Action("UpsConditionsPartialView", "UpsConditions")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
        $("#batttable").click(function () {

            $('#battid').val(null);

            $('#battdes').val(null);
            $.ajax({
                url: "@Url.Action("UpsBattStatusPartialView", "UpsBattStatus")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })



        $("form").on("submit", function (e) {
            var ustore = $("#ups_store").val();
            var brandid = $("#brandid").val();
            var modeldes = $("#modeldes").val();
            var vid = $("#vid").val();
            var typeid = $("#typeid").val();
            var cid = $("#cid").val();
            var battid = $("#battid").val();

            var isValid = true;

            if (!ustore) {
                $("#uStoreValidation").removeClass("d-none");
                isValid = false;
            } else {
                $("#uStoreValidation").addClass("d-none");
            }

            if (!brandid) {
                $("#uBrandValidation").removeClass("d-none");
                isValid = false;
            } else {
                $("#uBrandValidation").addClass("d-none");
            }

            if (!modeldes) {
                $("#uModelValidation").removeClass("d-none");
                isValid = false;
            } else {
                $("#uModelValidation").addClass("d-none");
            }

            if (!vid) {
                $("#uVendorValidation").removeClass("d-none");
                isValid = false;
            } else {
                $("#uVendorValidation").addClass("d-none");
            }

            if (!typeid) {
                $("#uTypeValidation").removeClass("d-none");
                isValid = false;
            } else {
                $("#uTypeValidation").addClass("d-none");
            }

            if (!cid) {
                $("#uUpsconditionValidation").removeClass("d-none");
                isValid = false;
            } else {
                $("#uUpsconditionValidation").addClass("d-none");
            }

            if (!battid) {
                $("#uBstatusValidation").removeClass("d-none");
                isValid = false;
            } else {
                $("#uBstatusValidation").addClass("d-none");
            }

            if (!isValid) {
                e.preventDefault(); // Prevent form submission if validation fails
            }
        });


        // // Hide the display table when clicking outside the brandtable
        // $(document).click(function (e) {
        //     if (!$(e.target).closest('#brandtable').length && !$(e.target).closest('.displaytable').length) {
        //         $(".displaytable").hide();
        //     }
        // });
    })

</script>
