@model AssetManagement.Models.DesktopBorrowed

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DesktopBorrowed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryDetails.unitTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBorrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBorrow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesktopInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesktopInventory.desktopInvCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreated.UserCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserUpdated.UserCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BorrowedID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
