@model IEnumerable<AssetManagement.Models.MonitorNewAlloc>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h4>Second Owner Monitor Allocation</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.SecAllocId)
            </th>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>PO</th>
            <th>
                SERIAL
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedby)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.SecAllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorAllocation.AllocId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorDetail.PO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorAllocation.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.status_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>


