@model IEnumerable<AssetManagement.Models.MonitorNewAlloc>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h4>Second Owner Monitor Allocation</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                DESCRIPTION
            </th>
            <th>
                CODE
            </th>
            <th>
                SERIAL
            </th>
            <th>
                ASSET TAG
            </th>
            <th>
                PO
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                DATE DEPLOYED
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                CREATED BY
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorDetail.MonitorInventory.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorDetail.monitorCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorAllocation.FixedassetTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitorDetail.PO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                    </td>
                    <td>
                        @item.MonitorDetail.DeployedDate?.ToString("MMM dd yyyy h:mm tt")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.status_name)
                    </td>
                    <td>
                        @item.DateCreated.ToString("MMM dd yyyy h:mm tt")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20" class="text-center">
                    No data available.
                </td>
            </tr>
        }
    </tbody>
</table>


