@model IEnumerable<AssetManagement.Models.MonitorInventory>
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


<input type="text" id="filterInput" placeholder="Search...">
<div class="table-container" style="cursor: pointer;">
    <table class="table custom-fontsize p-4">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.monitorCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createdby)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updatedby)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.monitorCode" data-ld="@item.Description">
                    <td>
                        @Html.DisplayFor(modelItem => item.monitorCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.ModelDescription)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Status.status_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>




<script>
    $(document).ready(function () {


        // Add click event listener to each row in the table
        $('table tbody tr').click(function () {
            // Get the id from the clicked row's data-id attribute
            var id = $(this).data('id');
            var ld = $(this).data('ld');


            // Remove the 'highlighted-row' class from any other row
            $("tr.highlighted-row").removeClass("highlighted-row");

            // Add the 'highlighted-row' class to the clicked row
            $(this).closest("tr").addClass("highlighted-row");
            $('#lapid').val(id);
            $('#lapdes').val(ld);


        });

    });

    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>