@model IEnumerable<AssetManagement.Models.MonitorDetail>

@{
    ViewData["Title"] = "View All";
}

<div class="m-4">
    <div class="allocation-details">
        <h4 class="allocation-title">Laptop Allocation Details for ID: @ViewBag.Id</h4>
        <h5 class="allocation-description">Description: @ViewBag.Ids</h5>
    </div>

    <!-- Action Buttons -->
    <div class="d-flex align-items-center justify-content-between gap-2 mb-4">
        <div class="d-flex align-items-center gap-3">
            <a class="btn btn-outline-secondary" asp-controller="MonitorInventories" asp-action="Index">
                Back to List
            </a>
            <a class="btn btn-outline-secondary" asp-controller="MonitorDetails" asp-action="Index">
                See All Details
            </a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <input type="text" id="filterInput" placeholder="Search..." class="form-control" style="width: 350px;">
        </div>
    </div>


    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                CODE
                            </th>
                            <th>
                                PO
                            </th>
                            <th>
                                SERIAL
                            </th>
                            <th>
                                PRICE
                            </th>
                            <th>
                                VENDOR
                            </th>
                            <th>
                                PURCHASE DATE
                            </th>
                            <th>
                                DEPLOYED DATE
                            </th>
                            <th>
                                STATUS
                            </th>
                            <th>
                                CREATED BY
                            </th>
                            <th>
                                CREATED AT
                            </th>
                            <th>
                                UPDATED BY
                            </th>
                            <th>
                                UPDATE AT
                            </th>
                            <th style="text-align:center!important;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MonitorInventory.monitorCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeployedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.status_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Createdby.UserCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updatedby.UserCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateUpdated)
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <form method="post" asp-action="Delete" asp-controller="MonitorDetails" asp-route-code="@item.monitorCode" asp-route-serial="@item.SerialNumber">
                                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to delete the selected item(s)?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="multi-delete-button btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                <span class="fas fa-trash-alt"></span> Delete
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>