@using AssetManagement.Models.View_Model;

@model OwnerViewModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Index";
}


<!-- Action Buttons -->
<div class="d-flex align-items-center justify-content-end mt-5 mb-3">
    <div class="d-flex align-items-center gap-2">
        <input type="text" id="filterInput" placeholder="Search..." class="form-control" style="width: 350px;">
    </div>
</div>

<div class="table-responsive" style="cursor: pointer;">
    <table class="table">
            <thead>
                <tr>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.OwnerCode)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.OwnerFullName)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.OwnerLocation)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.OwnerOffice)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.DateCreated)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.DateUpdated)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.Createdby)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.Updatedby)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.Status)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Owner.Department)
                    </th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model.OwnerList)
                    {
                    <tr data-id="@item.OwnerCode" data-ld="@item.OwnerFullName">
                        <td>
                                @Html.DisplayFor(modelItem => item.OwnerCode)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.OwnerFullName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Location.Description)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Store.StoreName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Status.status_name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Department.Dept_name)
                        </td>
                    </tr>
                    }
            </tbody>
        </table>

</div>




<script>
    $(document).ready(function () {


        // Add click event listener to each row in the table
        $('table tbody tr').click(function () {
            // Get the id from the clicked row's data-id attribute
            var id = $(this).data('id');
            var ld = $(this).data('ld');


            // Remove the 'highlighted-row' class from any other row
            $("tr.highlighted-row").removeClass("highlighted-row");

            // Add the 'highlighted-row' class to the clicked row
            $(this).closest("tr").addClass("highlighted-row");
            $('#oid').val(id);
            $('#odes').val(ld);


        });

    });



    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

