@model AssetManagement.Models.UpsCondition

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UpsCondition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition_createdby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition_createdby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition_createddt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition_createddt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition_updatedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition_updatedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition_updateddt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition_updateddt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="condition_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
