@model IEnumerable<AssetManagement.Models.UpsCondition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.condition_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition_createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition_createddt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition_updatedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition_updateddt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.condition_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition_createdby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition_createddt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition_updatedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition_updateddt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.condition_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.condition_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.condition_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
