@model AssetManagement.Models.UpsBattStatus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UpsBattStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status_createdby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status_createdby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status_createddt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status_createddt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status_updatedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status_updatedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status_updateddt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status_updateddt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.status_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
