@model IEnumerable<AssetManagement.Models.UpsBattStatus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_createddt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_updatedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_updateddt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_createdby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_createddt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_updatedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_updateddt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.status_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.status_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.status_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
