@model AssetManagement.Models.GraphicsCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GraphicsCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicsStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicsCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicsCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicsCreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicsCreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicsUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicsUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicsUpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicsUpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GraphicsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
