@model IEnumerable<AssetManagement.Models.GraphicsCard>

@{
    ViewData["Title"] = "Graphics Card";
}


<div class="m-4 px-1">
    <h4>Graphics Cards</h4>
    @if (TempData["Welcome"] != null)
    {
        <p>@TempData["Welcome"]</p>
    }
</div>

@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["SuccessNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success',
                text: '@TempData["SuccessNotification"]',
                icon: 'success',
                timer: 3000, // Automatically close the notification after 3 seconds
                showConfirmButton: false
            });
        });
    </script>
}


<div class="m-4 px-1">
    <a id="createbtn" class="btn btn-outline-theme createbtn">
        <i class="fas fa-pencil-alt"></i>
        <span>Create New</span>
    </a>
</div>

<div class="m-4 px-1 createform"></div>

<hr />

<div class="m-4 rendb">
    <div class="d-flex align-items-center justify-content-end px-2 mb-3">
        <a class="btn btn-secondary" asp-controller="GraphicsCards" asp-action="Inactive">
            <span class="fas fa-trash-alt"></span> Show Temporary Deleted
        </a>
    </div>

    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-container table-responsive">
                <table class="table table-striped table-datatable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.GraphicsDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GraphicsStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GraphicsCreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GraphicsCreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GraphicsUpdatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GraphicsUpdatedDate)
                            </th>
                            <th class="text-center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GraphicsDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GraphicsStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GraphicsCreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GraphicsCreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GraphicsUpdatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GraphicsUpdatedDate)
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <a class="btn btn-sm btn-outline-primary" asp-controller="GraphicsCards" asp-action="Edit" asp-route-id="@item.GraphicsID">
                                            <span class="fas fa-pencil-alt"></span> Edit
                                        </a> |
                                        <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.GraphicsID">
                                            <span class="fas fa-trash-alt"></span> Delete
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <h5>Are you sure you want to delete this?</h5>
                <p id="modal-item-description"></p>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    <input type="hidden" id="deleteGraphicsId" name="graphicsId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(".btn-delt").click(function () {
            $(this).closest("form").submit();
        })

        $("#createbtn").click(function () {
            $(this).hide();
            $('.card, .rendb ,.title ,.createbtn').hide();

            $.ajax({
                url: "@Url.Action("Create", "GraphicsCards")",
                type: "GET",
                success: function (res) {
                    $(".createform").html(res);
                }
            })
        })

        // Pass the selected ID to the modal
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');

            // Update the modal's form action with the correct ID
            var form = $('#deleteForm');
            form.attr('action', '/GraphicsCards/Delete/' + id);
        });
    })


</script>