@model IEnumerable<AssetManagement.Models.MonitorAllocation>

@{
    ViewData["Title"] = "First Owners";
}



<div class="m-4">
    <div class="allocation-details">
        <h4 class="allocation-title">First Owners Monitor Allocation</h4>
    </div>

    <div class="mb-3">
        <a class="btn btn-outline-secondary" asp-controller="MonitorNewAllocs" asp-action="Index">
            Back to List
        </a>
    </div>

    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-datatable">
                    <thead>
                        <tr>
                            <th>
                                CODE
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SerialNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FixedassetTag)
                            </th>
                            <th>PO</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Owner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateDeployed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </th>
                            <th>
                                CREATED BY
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateUpdated)
                            </th>
                            <th>
                                UPDATED BY  
                            </th>
                            <th class="text-center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.monitorCode)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.FixedassetTag)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.MonitorDetails.PO)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateDeployed)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DateUpdated)
                                </td>
                                <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                                </td>
                                <td>
                                    <a class="btn btn-outline-secondary editbtn" asp-action="Create" asp-controller="MonitorNewAllocs" asp-route-id="@item.AllocId" asp-route-ids="@item.monitorCode" asp-route-ids2="@item.SerialNumber">Second Owner</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="displaytable"> </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(document).on("click", "#userCode", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("InventorySecOwnerDetails", "MonitorInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode2", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("seeDetails", "MonitorInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode3", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("ReturnDetails", "MonitorInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });

    });
</script>



