@model IEnumerable<AssetManagement.Models.MonitorAllocation>

@{
    ViewData["Title"] = "Index";
}

<div class="m-4 px-1">
    <div class="allocation-details">
        <h4 class="allocation-title">Return Monitors Allocation</h4>
    </div>
    <p>
        <a class="btn btn-sm bg-secondary h5 text-white text-decoration-none p-2 btn createbtn" asp-action="Index" asp-controller="ReturnMTAs">Back to List</a>
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.AllocId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MonitorDetails.MonitorInventory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FixedassetTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateDeployed)
                    </th>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.AllocationStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateUpdated)
                    </th>
                    <th>
                        CREATED BY
                    </th>
                    <th>
                        UPDATED BY
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.AllocId)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonitorDetails.MonitorInventory.Description)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.FixedassetTag)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.DateDeployed)
                        </td>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.AllocationStatus)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.Createdby.UserFullName)
                        </td>
                        <td class="editbtn" id="@item.MonitorDetails.MonitorInventory.Description" id="userCode2" name="userCODE">
                            @Html.DisplayFor(modelItem => item.Updatedby.UserFullName)
                        </td>
                        <td>
                            <a class="btn btn-sm bg-secondary  text-white custom-fontsize editbtn" asp-action="Create" asp-controller="ReturnMTAs" asp-route-id="@item.AllocId">Return </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="displaytable"> </div>
</div>


<script>
    $(document).ready(function () {
        $(document).on("click", "#userCode", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("InventorySecOwnerDetails", "MonitorInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode2", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("seeDetails", "MonitorInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode3", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("ReturnDetails", "MonitorInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });

    });
</script>


