@model IEnumerable<AssetManagement.Models.LaptopPeripheralAllocation>

@{
    ViewData["Title"] = "First Owners Laptop Peripheral";
}

<div class="mx-4">
    <div class="allocation-details">
        <h4 class="allocation-title">First Owners Laptop Peripheral Allocation</h4>
    </div>

    <div class="mb-3">
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="SecondOwnerPeripAllocs">Back to List</a>
    </div>

    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-datatable">
                    <thead>
                        <tr>
                            <th>
                                DESCRIPTION
                            </th>
                            <th>
                                CODE
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SerialNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FixedAssetTag)
                            </th>
                            <th>PO</th>
                            <th>PRICE</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Owner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DatePurchased)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PeripheralAllocCreatedAt)
                            </th>
                            <th>
                                CREATED BY
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PeripheralAllocUpdateAt)
                            </th>
                            <th>
                                UPDATED BY
                            </th>
                            <th style="text-align:center!important;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopPeripheral.PeripheralDescription)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopPeripheral.PeripheralCode)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.FixedAssetTag)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.PONumber)
                                </td>
                                <td class="editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Owner.OwnerCode)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.DatePurchased)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.PeripheralAllocCreatedAt)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.CreatedBy.UserCode)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.PeripheralAllocUpdateAt)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.UpdatedBy.UserCode)
                                </td>
                              
                                <td>
                                    <a class="btn btn-theme" asp-action="Create" asp-controller="SecondOwnerPeripAllocs" asp-route-id2="@item.DatePurchased" asp-route-id="@item.PeripheralAllocationId" asp-route-ids="@item.PeripheralCode">Second Owner</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="displaytable"> </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(document).on("click", "#userCode", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("InventorySecOwnerDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode2", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("seeDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });

    });
</script>

