@model IEnumerable<AssetManagement.Models.LaptopPeripheralAllocation>

@{
    ViewData["Title"] = "Index";
}

<div class="mx-4">

    <div class="allocation-details">
        <h4 class="allocation-title">Return Laptop Peripherals Allocation</h4>
    </div>

    <div class="mb-2">
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="ReturnPeripherals">
        <span class="fas fa-undo"></span> Back to List
        </a>
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="LaptopPeripheralAllocations">
            <span class="fas fa-undo"></span>
            Go To Inventory Allocation
        </a>
    </div>

    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-datatable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Owner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LaptopPeripheral.PeripheralDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PeripheralCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SerialNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FixedAssetTag)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PONumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PeripheralAllocCreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PeripheralAllocUpdateAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.Owner.OwnerFullName)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.LaptopPeripheral.PeripheralDescription)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.PeripheralCode)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.FixedAssetTag)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.PONumber)
                                </td>
                                <td class="editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.PeripheralAllocCreatedAt)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.CreatedBy.UserCode)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.PeripheralAllocUpdateAt)
                                </td>
                                <td class=" editbtn" id="@item.LaptopPeripheral.PeripheralDescription" id="userCode2" name="userCODE">
                                    @Html.DisplayFor(modelItem => item.UpdatedBy.UserCode)
                                </td>
                               
                                <td>
                                    <a class="btn btn-sm btn-secondary" asp-action="Create" asp-controller="ReturnPeripherals" asp-route-id="@item.PeripheralAllocationId">Return </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="displaytable"> </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).on("click", "#userCode", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("InventorySecOwnerDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode2", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("seeDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });


        $(document).on("click", "#userCode3", function () {
            var userCode = "@ViewBag.Id";

            $.ajax({
                url: "@Url.Action("ReturnDetails", "LaptopInventories")",
                type: "GET",
                data: { userCODE: userCode },
                success: function (res) {
                    $(".displaytable").html(res);
                }
            });
        });

    });
</script>
