@model PagedList.IPagedList<AssetManagement.Models.UserDepartment>

@{
    ViewData["Title"] = "User Department Views";
}

@if (TempData["Welcome"] != null)
{
    <div class="toast-notification animated-toast">
        <p>@TempData["Welcome"]</p>
    </div>
}
<h4>User Department</h4>

@if (TempData["SuccessNotification"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success',
                text: '@TempData["SuccessNotification"]',
                icon: 'success',
                timer: 3000, // Automatically close the notification after 3 seconds
                showConfirmButton: false
            });
        });
    </script>
}


<div>
    <input type="text" id="filterInput" placeholder="Search...">
</div>

<div class="table-responsive table-container">
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Department)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserADLogin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Dept_name)
                    </td>
                  
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    //FILTERING

    $(document).ready(function () {
        $('#filterInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>