@model AssetManagement.Models.MonitorBorrowed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MonitorBorrowed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBorrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBorrow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitorInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitorInventory.monitorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonitorDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonitorDetail.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreated.UserCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserUpdated.UserCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BorrowedID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
