@model AssetManagement.Models.SecondOwnerAlloc

@{
    ViewData["Title"] = "Create";
}


@if (@TempData["AlertMessage"] != null)
{
    <div id="alertMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="mx-4">
    <h4>Laptop Second Owner Allocation</h4>
    <hr />
    <div>
        <form asp-action="Create">
            <div class="row form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-2" hidden>
                    <label asp-for="SecAllocId" class="control-label"></label>
                    <input asp-for="SecAllocId" class="form-control" />
                    <span asp-validation-for="SecAllocId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="AllocId" class="control-label"></label>
                    <input asp-for="AllocId" readonly value="@ViewBag.AllocId" class="form-control" required/>
                    <span asp-validation-for="AllocId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="SecLaptopCode" class="control-label"></label>
                    <input asp-for="SecLaptopCode" readonly value="@ViewBag.LaptopCode" class="form-control" required />
                    <span asp-validation-for="SecLaptopCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="SerialNumber" class="control-label"></label>
                    <input asp-for="SerialNumber" readonly value="@ViewBag.Serial" class="form-control" required />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2" id="ownertable">
                    <label asp-for="SecOwnerCode" class="control-label"></label>
                    <input asp-for="SecOwnerCode" class="form-control" id="oid" hidden />
                    <input class="form-select" id="odes" readonly placeholder="Select Owner Below" required />
                    <span asp-validation-for="SecOwnerCode" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2" hidden>
                    <label asp-for="SecAllocationStatus" class="control-label"></label>
                    <select asp-for="SecAllocationStatus" class="form-select" asp-items="ViewBag.SecAllocationStatus"></select>
                </div>
                <div class="form-group col-md-2 d-flex align-items-center gap-2" style="margin-top:23px;">
                    <input type="submit" value="Create" class="btn btn-red" />
                    <a class="btn btn-outline-secondary " asp-controller="LaptopAllocations" asp-action="LapAllocPartialView">Back to List</a>
                </div>
            </div>
        </form>
    </div>

    <div class="displaytable"></div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ownertable").click(function () {
            $.ajax({
                url: "@Url.Action("OwnerPartialView", "Owners")",
                type: "GET",
                success: function (res) {
                    $(".displaytable").html(res);
                }
            })
        })
    })
</script>