@using AssetManagement.Models.View_Model;
@model ProfileViewModel

@{
    Layout = null;
}

<style>
    .table tbody tr {
        cursor: pointer;
    }

        .table tbody tr:hover {
            background: var(--bs-gray-400);
        }

    .highlighted-row {
        background: var(--bs-gray-400);
    }
</style>

<div class="table-responsive scrollable-container table-container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Profile.ProfileId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.ProfileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.ProfileDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.ProfileDtCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.ProfileDtUpdated)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Profile.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile.UpdatedBy)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProfileList)
            {
                <tr data-pi="@item.ProfileId" data-pn="@item.ProfileName">
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.ProfileId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfileDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfileDtCreated)    
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfileDtUpdated)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Status.status_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy.UserADLogin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy.UserADLogin)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {
        // Add click event listener to each row in the table
        $('table tbody tr').click(function () {

            // Remove the 'highlighted-row' class from any other row
            $("tr.highlighted-row").removeClass("highlighted-row");
            // Add the 'highlighted-row' class to the clicked row
            $(this).closest("tr").addClass("highlighted-row");


            // Get the id from the clicked row's data-id attribute
            var profileId = $(this).data('pi');
            var profileName = $(this).data('pn');

            $('#pId').val(profileId);
            $('#pDes').val(profileName);


        });

    });

</script>





